.dropdown-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.dropdown {
  position: fixed;
  top: 40px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6b8e23;
  width: 200px;
  height: 924px;
  border-radius: 2px;
  transition: all 550ms linear;
  right: -100%;
}
.dropdown.active {
  transition: all 550ms linear;
  right: 0;
}

.dropdown-closing {
  font-size: 35px;
  color: #e0ffff;
}

.dropdown-bars {
  position: absolute;
  z-index: 0;
  right: 85px;
  top: 19px;
}

.dropdown-links {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  align-items: start;
  padding-left: 35px;
}

.drop-item {
}

.drop-link {
  text-decoration: none;
  color: #e0ffff;
  font-size: 23px;
}

@media screen and (min-width: 1239px) {
  .dropdown.active {
    display: none;
  }
  .dropdown-bars {
    display: none;
  }
}
